<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" >
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<h3>Your Posts</h3>

<ul th:each="user : ${users}">
    <li> <a th:href="/users/ + ${user.getId()}" th:text="${friend.contains(user)? : ${user.username} : follow"></a></li>
</ul>

</body>
</html>